In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from geopy.geocoders import Nominatim

In [2]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\prern\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\prern\anaconda3\lib\site-packages (from geopy) (2.0)

In [3]:
# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

In [4]:
df_mh_subst_use = pd.read_csv("Resources/mental-and-substance-use-as-share-of-disease.csv")

In [5]:
df_mh_subst_use["Entity"].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
df_mh_subst_use.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [7]:
df_mh_subst_use.shape

(6840, 4)

In [8]:
def get_lat_lon(country):
    
    try:
        location = geolocator.geocode(country)
        return location.latitude, location.longitude
    except:
        return np.nan

In [9]:
countries = df_mh_subst_use["Entity"].unique()

In [10]:
countries_lat_lon = {}

for c in countries:
    print("country: ", c)
    countries_lat_lon[c] = get_lat_lon(c)

country:  Afghanistan
country:  African Region (WHO)
country:  Albania
country:  Algeria
country:  American Samoa
country:  Andorra
country:  Angola
country:  Antigua and Barbuda
country:  Argentina
country:  Armenia
country:  Australia
country:  Austria
country:  Azerbaijan
country:  Bahamas
country:  Bahrain
country:  Bangladesh
country:  Barbados
country:  Belarus
country:  Belgium
country:  Belize
country:  Benin
country:  Bermuda
country:  Bhutan
country:  Bolivia
country:  Bosnia and Herzegovina
country:  Botswana
country:  Brazil
country:  Brunei
country:  Bulgaria
country:  Burkina Faso
country:  Burundi
country:  Cambodia
country:  Cameroon
country:  Canada
country:  Cape Verde
country:  Central African Republic
country:  Chad
country:  Chile
country:  China
country:  Colombia
country:  Comoros
country:  Congo
country:  Cook Islands
country:  Costa Rica
country:  Cote d'Ivoire
country:  Croatia
country:  Cuba
country:  Cyprus
country:  Czechia
country:  Democratic Republic of Congo
country:  Denmark
country:  Djibouti
country:  Dominica
country:  Dominican Republic
country:  East Asia & Pacific (WB)
country:  Eastern Mediterranean Region (WHO)
country:  Ecuador
country:  Egypt
country:  El Salvador
country:  England
country:  Equatorial Guinea
country:  Eritrea
country:  Estonia
country:  Eswatini
country:  Ethiopia
country:  Europe & Central Asia (WB)
country:  European Region (WHO)
country:  Fiji
country:  Finland
country:  France
country:  G20
country:  Gabon
country:  Gambia
country:  Georgia
country:  Germany
country:  Ghana
country:  Greece
country:  Greenland
country:  Grenada
country:  Guam
country:  Guatemala
country:  Guinea
country:  Guinea-Bissau
country:  Guyana
country:  Haiti
country:  Honduras
country:  Hungary
country:  Iceland
country:  India
country:  Indonesia
country:  Iran
country:  Iraq
country:  Ireland
country:  Israel
country:  Italy
country:  Jamaica
country:  Japan
country:  Jordan
country:  Kazakhstan
country:  Kenya
country:  Kiribati
country:  Kuwait
country:  Kyrgyzstan
country:  Laos
country:  Latin America & Caribbean (WB)
country:  Latvia
country:  Lebanon
country:  Lesotho
country:  Liberia
country:  Libya
country:  Lithuania
country:  Luxembourg
country:  Madagascar
country:  Malawi
country:  Malaysia
country:  Maldives
country:  Mali
country:  Malta
country:  Marshall Islands
country:  Mauritania
country:  Mauritius
country:  Mexico
country:  Micronesia (country)
country:  Middle East & North Africa (WB)
country:  Moldova
country:  Monaco
country:  Mongolia
country:  Montenegro
country:  Morocco
country:  Mozambique
country:  Myanmar
country:  Namibia
country:  Nauru
country:  Nepal
country:  Netherlands
country:  New Zealand
country:  Nicaragua
country:  Niger
country:  Nigeria
country:  Niue
country:  North America (WB)
country:  North Korea
country:  North Macedonia
country:  Northern Ireland
country:  Northern Mariana Islands
country:  Norway
country:  OECD Countries
country:  Oman
country:  Pakistan
country:  Palau
country:  Palestine
country:  Panama
country:  Papua New Guinea
country:  Paraguay
country:  Peru
country:  Philippines
country:  Poland
country:  Portugal
country:  Puerto Rico
country:  Qatar
country:  Region of the Americas (WHO)
country:  Romania
country:  Russia
country:  Rwanda
country:  Saint Kitts and Nevis
country:  Saint Lucia
country:  Saint Vincent and the Grenadines
country:  Samoa
country:  San Marino
country:  Sao Tome and Principe
country:  Saudi Arabia
country:  Scotland
country:  Senegal
country:  Serbia
country:  Seychelles
country:  Sierra Leone
country:  Singapore
country:  Slovakia
country:  Slovenia
country:  Solomon Islands
country:  Somalia
country:  South Africa
country:  South Asia (WB)
country:  South Korea
country:  South Sudan
country:  South-East Asia Region (WHO)
country:  Spain
country:  Sri Lanka
country:  Sub-Saharan Africa (WB)
country:  Sudan
country:  Suriname
country:  Sweden
country:  Switzerland
country:  Syria
country:  Taiwan
country:  Tajikistan
country:  Tanzania
country:  Thailand
country:  Timor
country:  Togo
country:  Tokelau
country:  Tonga
country:  Trinidad and Tobago
country:  Tunisia
country:  Turkey
country:  Turkmenistan
country:  Tuvalu
country:  Uganda
country:  Ukraine
country:  United Arab Emirates
country:  United Kingdom
country:  United States
country:  United States Virgin Islands
country:  Uruguay
country:  Uzbekistan
country:  Vanuatu
country:  Venezuela
country:  Vietnam
country:  Wales
country:  Western Pacific Region (WHO)
country:  World
country:  World Bank High Income
country:  World Bank Low Income
country:  World Bank Lower Middle Income
country:  World Bank Upper Middle Income
country:  Yemen
country:  Zambia
country:  Zimbabwe

In [11]:
countries_lat_lon

{'Afghanistan': (33.7680065, 66.2385139),
 'African Region (WHO)': nan,
 'Albania': (41.000028, 19.9999619),
 'Algeria': (28.0000272, 2.9999825),
 'American Samoa': (-14.297124, -170.7131481),
 'Andorra': (42.5407167, 1.5732033),
 'Angola': (-11.8775768, 17.5691241),
 'Antigua and Barbuda': (17.2234721, -61.9554608),
 'Argentina': (-34.9964963, -64.9672817),
 'Armenia': (40.7696272, 44.6736646),
 'Australia': (-24.7761086, 134.755),
 'Austria': (47.59397, 14.12456),
 'Azerbaijan': (40.3936294, 47.7872508),
 'Bahamas': (24.7736546, -78.0000547),
 'Bahrain': (26.1551249, 50.5344606),
 'Bangladesh': (24.4769288, 90.2934413),
 'Barbados': (13.1500331, -59.5250305),
 'Belarus': (53.4250605, 27.6971358),
 'Belgium': (50.6402809, 4.6667145),
 'Belize': (16.8259793, -88.7600927),
 'Benin': (9.5293472, 2.2584408),
 'Bermuda': (32.30382, -64.7561647),
 'Bhutan': (27.549511, 90.5119273),
 'Bolivia': (-17.0568696, -64.9912286),
 'Bosnia and Herzegovina': (44.3053476, 17.5961467),
 'Botswana': (-23.1681782, 24.5928742),
 'Brazil': (-10.3333333, -53.2),
 'Brunei': (4.4137155, 114.5653908),
 'Bulgaria': (42.6073975, 25.4856617),
 'Burkina Faso': (12.0753083, -1.6880314),
 'Burundi': (-3.426449, 29.9324519),
 'Cambodia': (12.5433216, 104.8144914),
 'Cameroon': (4.6125522, 13.1535811),
 'Canada': (61.0666922, -107.991707),
 'Cape Verde': (16.0000552, -24.0083947),
 'Central African Republic': (7.0323598, 19.9981227),
 'Chad': (15.6134137, 19.0156172),
 'Chile': (-31.7613365, -71.3187697),
 'China': (35.000074, 104.999927),
 'Colombia': (4.099917, -72.9088133),
 'Comoros': (-12.2045176, 44.2832964),
 'Congo': (-2.9814344, 23.8222636),
 'Cook Islands': (-19.919672900000002, -157.9753368892878),
 'Costa Rica': (10.2735633, -84.0739102),
 "Cote d'Ivoire": (7.9897371, -5.5679458),
 'Croatia': (45.3658443, 15.6575209),
 'Cuba': (23.0131338, -80.8328748),
 'Cyprus': (34.9823018, 33.1451285),
 'Czechia': (49.7439047, 15.3381061),
 'Democratic Republic of Congo': (-15.4139213, 28.289698),
 'Denmark': (55.670249, 10.3333283),
 'Djibouti': (11.8145966, 42.8453061),
 'Dominica': (19.0974031, -70.3028026),
 'Dominican Republic': (19.0974031, -70.3028026),
 'East Asia & Pacific (WB)': nan,
 'Eastern Mediterranean Region (WHO)': nan,
 'Ecuador': (-1.3397668, -79.3666965),
 'Egypt': (26.2540493, 29.2675469),
 'El Salvador': (13.8000382, -88.9140683),
 'England': (52.5310214, -1.2649062),
 'Equatorial Guinea': (1.613172, 10.5170357),
 'Eritrea': (15.9500319, 37.9999668),
 'Estonia': (58.7523778, 25.3319078),
 'Eswatini': (-26.5624806, 31.3991317),
 'Ethiopia': (10.2116702, 38.6521203),
 'Europe & Central Asia (WB)': nan,
 'European Region (WHO)': nan,
 'Fiji': (-18.1239696, 179.0122737),
 'Finland': (63.2467777, 25.9209164),
 'France': (46.603354, 1.8883335),
 'G20': (36.8324966, 117.4384952),
 'Gabon': (-0.8999695, 11.6899699),
 'Gambia': (13.470062, -15.4900464),
 'Georgia': (32.3293809, -83.1137366),
 'Germany': (51.1638175, 10.4478313),
 'Ghana': (8.0300284, -1.0800271),
 'Greece': (38.9953683, 21.9877132),
 'Greenland': (77.6192349, -42.8125967),
 'Grenada': (12.1360374, -61.6904045),
 'Guam': (13.450125700000001, 144.75755102972062),
 'Guatemala': (15.5855545, -90.345759),
 'Guinea': (10.7226226, -10.7083587),
 'Guinea-Bissau': (11.815215, -15.2351044),
 'Guyana': (4.8417097, -58.6416891),
 'Haiti': (19.1399952, -72.3570972),
 'Honduras': (15.2572432, -86.0755145),
 'Hungary': (47.1817585, 19.5060937),
 'Iceland': (64.9841821, -18.1059013),
 'India': (22.3511148, 78.6677428),
 'Indonesia': (-2.4833826, 117.8902853),
 'Iran': (32.6475314, 54.5643516),
 'Iraq': (33.0955793, 44.1749775),
 'Ireland': (52.865196, -7.9794599),
 'Israel': (30.8124247, 34.8594762),
 'Italy': (42.6384261, 12.674297),
 'Jamaica': (18.1850507, -77.3947693),
 'Japan': (36.5748441, 139.2394179),
 'Jordan': (31.1667049, 36.941628),
 'Kazakhstan': (48.1012954, 66.7780818),
 'Kenya': (1.4419683, 38.4313975),
 'Kiribati': (0.3448612, 173.6641773),
 'Kuwait': (29.2733964, 47.4979476),
 'Kyrgyzstan': (41.5089324, 74.724091),
 'Laos': (20.0171109, 103.378253),
 'Latin America & Caribbean (WB)': nan,
 'Latvia': (56.8406494, 24.7537645),
 'Lebanon': (33.8750629, 35.843409),
 'Lesotho': (-29.6039267, 28.3350193),
 'Liberia': (5.7499721, -9.3658524),
 'Libya': (26.8234472, 18.1236723),
 'Lithuania': (55.3500003, 23.7499997),
 'Luxembourg': (49.8158683, 6.1296751),
 'Madagascar': (-18.9249604, 46.4416422),
 'Malawi': (-13.2687204, 33.9301963),
 'Malaysia': (4.5693754, 102.2656823),
 'Maldives': (3.7203503, 73.2244152),
 'Mali': (16.3700359, -2.2900239),
 'Malta': (35.8885993, 14.4476911),
 'Marshall Islands': (8.9995549, 168.0002575),
 'Mauritania': (20.2540382, -9.2399263),
 'Mauritius': (-20.2759451, 57.5703566),
 'Mexico': (23.6585116, -102.0077097),
 'Micronesia (country)': (14.3113868, 121.0698265),
 'Middle East & North Africa (WB)': nan,
 'Moldova': (47.2879608, 28.5670941),
 'Monaco': (43.7323492, 7.4276832),
 'Mongolia': (46.8250388, 103.8499736),
 'Montenegro': (42.9868853, 19.5180992),
 'Morocco': (31.1728205, -7.3362482),
 'Mozambique': (-19.302233, 34.9144977),
 'Myanmar': (17.1750495, 95.9999652),
 'Namibia': (-23.2335499, 17.3231107),
 'Nauru': (-0.5252306, 166.9324426),
 'Nepal': (28.1083929, 84.0917139),
 'Netherlands': (52.2434979, 5.6343227),
 'New Zealand': (-41.5000831, 172.8344077),
 'Nicaragua': (12.6090157, -85.2936911),
 'Niger': (17.7356214, 9.3238432),
 'Nigeria': (9.6000359, 7.9999721),
 'Niue': (-19.0536414, -169.861341),
 'North America (WB)': (39.8603439, -104.6904572),
 'North Korea': (40.3736611, 127.0870417),
 'North Macedonia': (41.6171214, 21.7168387),
 'Northern Ireland': (54.5859836, -6.9591554),
 'Northern Mariana Islands': (15.1753648, 145.7379338),
 'Norway': (61.1529386, 8.7876653),
 'OECD Countries': nan,
 'Oman': (21.0000287, 57.0036901),
 'Pakistan': (30.3308401, 71.247499),
 'Palau': (5.3783537, 132.9102573),
 'Palestine': (31.462420950000002, 34.262716572130714),
 'Panama': (8.559559, -81.1308434),
 'Papua New Guinea': (-5.6816069, 144.2489081),
 'Paraguay': (-23.3165935, -58.1693445),
 'Peru': (-6.8699697, -75.0458515),
 'Philippines': (12.7503486, 122.7312101),
 'Poland': (52.215933, 19.134422),
 'Portugal': (39.6621648, -8.1353519),
 'Puerto Rico': (18.2247706, -66.4858295),
 'Qatar': (25.3336984, 51.2295295),
 'Region of the Americas (WHO)': nan,
 'Romania': (45.9852129, 24.6859225),
 'Russia': (64.6863136, 97.7453061),
 'Rwanda': (-1.9646631, 30.0644358),
 'Saint Kitts and Nevis': (17.250512, -62.6725973),
 'Saint Lucia': (13.8250489, -60.975036),
 'Saint Vincent and the Grenadines': (12.90447, -61.2765569),
 'Samoa': (-13.7693895, -172.12005),
 'San Marino': (43.9458623, 12.458306),
 'Sao Tome and Principe': (0.9713095, 7.02255),
 'Saudi Arabia': (25.6242618, 42.3528328),
 'Scotland': (56.7861112, -4.1140518),
 'Senegal': (14.4750607, -14.4529612),
 'Serbia': (44.1534121, 20.55144),
 'Seychelles': (-4.6574977, 55.4540146),
 'Sierra Leone': (8.6400349, -11.8400269),
 'Singapore': (1.357107, 103.8194992),
 'Slovakia': (48.7411522, 19.4528646),
 'Slovenia': (46.1199444, 14.8153333),
 'Solomon Islands': (-8.7053941, 159.1070693851845),
 'Somalia': (8.3676771, 49.083416),
 'South Africa': (-28.8166236, 24.991639),
 'South Asia (WB)': (22.5728742, 88.433872),
 'South Korea': (36.638392, 127.6961188),
 'South Sudan': (7.8699431, 29.6667897),
 'South-East Asia Region (WHO)': nan,
 'Spain': (39.3260685, -4.8379791),
 'Sri Lanka': (7.877395849999999, 80.66247852355892),
 'Sub-Saharan Africa (WB)': nan,
 'Sudan': (14.5844444, 29.4917691),
 'Suriname': (4.1413025, -56.0771187),
 'Sweden': (59.6749712, 14.5208584),
 'Switzerland': (46.7985624, 8.2319736),
 'Syria': (34.6401861, 39.0494106),
 'Taiwan': (23.9739374, 120.9820179),
 'Tajikistan': (38.6281733, 70.8156541),
 'Tanzania': (-6.5247123, 35.7878438),
 'Thailand': (14.8971921, 100.83273),
 'Timor': (-9.346017100000001, 124.63707741045215),
 'Togo': (8.7800265, 1.0199765),
 'Tokelau': (-9.1676396, -171.819687),
 'Tonga': (-19.9160819, -175.202642),
 'Trinidad and Tobago': (10.7466905, -61.0840075),
 'Tunisia': (33.8439408, 9.400138),
 'Turkey': (38.9597594, 34.9249653),
 'Turkmenistan': (39.3763807, 59.3924609),
 'Tuvalu': (-8.6405212, 179.1582918181797),
 'Uganda': (1.5333554, 32.2166578),
 'Ukraine': (49.4871968, 31.2718321),
 'United Arab Emirates': (24.0002488, 53.9994829),
 'United Kingdom': (54.7023545, -3.2765753),
 'United States': (39.7837304, -100.445882),
 'United States Virgin Islands': (17.789187, -64.7080574),
 'Uruguay': (-32.8755548, -56.0201525),
 'Uzbekistan': (41.32373, 63.9528098),
 'Vanuatu': (-16.5255069, 168.1069154),
 'Venezuela': (8.0018709, -66.1109318),
 'Vietnam': (15.9266657, 107.9650855),
 'Wales': (52.2928116, -3.73893),
 'Western Pacific Region (WHO)': nan,
 'World': (-36.8535712, 174.7456809),
 'World Bank High Income': nan,
 'World Bank Low Income': nan,
 'World Bank Lower Middle Income': nan,
 'World Bank Upper Middle Income': nan,
 'Yemen': (16.3471243, 47.8915271),
 'Zambia': (-14.5189121, 27.5589884),
 'Zimbabwe': (-18.4554963, 29.7468414)}

In [12]:
df_mh_subst_use.head()

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent)
0,Afghanistan,AFG,1990,1.696670
1,Afghanistan,AFG,1991,1.734281
2,Afghanistan,AFG,1992,1.791189
3,Afghanistan,AFG,1993,1.776779
4,Afghanistan,AFG,1994,1.712986

In [13]:
df_mh_subst_use["lat_lon"] = df_mh_subst_use["Entity"].map(countries_lat_lon)

In [14]:
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),lat_lon
0,Afghanistan,AFG,1990,1.696670,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,1.734281,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,1.791189,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,1.776779,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,1.712986,"(33.7680065, 66.2385139)"
...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,"(-18.4554963, 29.7468414)"
6836,Zimbabwe,ZWE,2016,2.279813,"(-18.4554963, 29.7468414)"
6837,Zimbabwe,ZWE,2017,2.364265,"(-18.4554963, 29.7468414)"
6838,Zimbabwe,ZWE,2018,2.472949,"(-18.4554963, 29.7468414)"
6839,Zimbabwe,ZWE,2019,2.525892,"(-18.4554963, 29.7468414)"

In [15]:
discard_indexes = df_mh_subst_use[df_mh_subst_use["lat_lon"].isnull()].index
df_mh_subst_use = df_mh_subst_use.drop(discard_indexes)

In [16]:
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),lat_lon
0,Afghanistan,AFG,1990,1.696670,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,1.734281,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,1.791189,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,1.776779,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,1.712986,"(33.7680065, 66.2385139)"
...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,"(-18.4554963, 29.7468414)"
6836,Zimbabwe,ZWE,2016,2.279813,"(-18.4554963, 29.7468414)"
6837,Zimbabwe,ZWE,2017,2.364265,"(-18.4554963, 29.7468414)"
6838,Zimbabwe,ZWE,2018,2.472949,"(-18.4554963, 29.7468414)"
6839,Zimbabwe,ZWE,2019,2.525892,"(-18.4554963, 29.7468414)"

In [17]:
df_mh_subst_use["latitude"] = df_mh_subst_use["lat_lon"].map(lambda x: x[0])
df_mh_subst_use["longitude"] = df_mh_subst_use["lat_lon"].map(lambda x: x[1])

In [18]:
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),lat_lon,latitude,longitude
0,Afghanistan,AFG,1990,1.696670,"(33.7680065, 66.2385139)",33.768006,66.238514
1,Afghanistan,AFG,1991,1.734281,"(33.7680065, 66.2385139)",33.768006,66.238514
2,Afghanistan,AFG,1992,1.791189,"(33.7680065, 66.2385139)",33.768006,66.238514
3,Afghanistan,AFG,1993,1.776779,"(33.7680065, 66.2385139)",33.768006,66.238514
4,Afghanistan,AFG,1994,1.712986,"(33.7680065, 66.2385139)",33.768006,66.238514
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6836,Zimbabwe,ZWE,2016,2.279813,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6837,Zimbabwe,ZWE,2017,2.364265,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6838,Zimbabwe,ZWE,2018,2.472949,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6839,Zimbabwe,ZWE,2019,2.525892,"(-18.4554963, 29.7468414)",-18.455496,29.746841

In [19]:
df_mh_subst_use = df_mh_subst_use.drop('lat_lon', axis=1)
df_mh_subst_use

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Mental disorders - Sex: Both - Age: All Ages (Percent),latitude,longitude
0,Afghanistan,AFG,1990,1.696670,33.768006,66.238514
1,Afghanistan,AFG,1991,1.734281,33.768006,66.238514
2,Afghanistan,AFG,1992,1.791189,33.768006,66.238514
3,Afghanistan,AFG,1993,1.776779,33.768006,66.238514
4,Afghanistan,AFG,1994,1.712986,33.768006,66.238514
...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2.193166,-18.455496,29.746841
6836,Zimbabwe,ZWE,2016,2.279813,-18.455496,29.746841
6837,Zimbabwe,ZWE,2017,2.364265,-18.455496,29.746841
6838,Zimbabwe,ZWE,2018,2.472949,-18.455496,29.746841
6839,Zimbabwe,ZWE,2019,2.525892,-18.455496,29.746841

In [20]:
df_mh_subst_use.to_csv('Clean_data/cleaned-Disability-Adjusted-Life-Years.csv', index=False)

# Third csv file

In [21]:
df_depression_m_vs_f = pd.read_csv("Resources/prevalence-of-depression-males-vs-females.csv")

In [22]:
df_depression_m_vs_f.head()

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,4.291054,5.859656,12412311.0,NaN
2,Afghanistan,AFG,1991,4.293268,5.853078,13299016.0,NaN
3,Afghanistan,AFG,1992,4.298265,5.850020,14485543.0,NaN
4,Afghanistan,AFG,1993,4.303087,5.844987,15816601.0,NaN

In [23]:
df_depression_m_vs_f = df_depression_m_vs_f.dropna()
df_depression_m_vs_f

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
26,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia
575,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe
834,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa
1093,American Samoa,ASM,2015,2.317518,3.199010,55806.0,Oceania
1207,Andorra,AND,2015,3.143566,4.713564,77993.0,Europe
...,...,...,...,...,...,...,...
54494,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America
54753,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia
55638,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia
55900,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa
56160,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa

In [24]:
df_depression_m_vs_f["lat_lon"] = df_depression_m_vs_f["Entity"].map(countries_lat_lon)

In [25]:
df_depression_m_vs_f

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon
26,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia,"(33.7680065, 66.2385139)"
575,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe,"(41.000028, 19.9999619)"
834,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa,"(28.0000272, 2.9999825)"
1093,American Samoa,ASM,2015,2.317518,3.199010,55806.0,Oceania,"(-14.297124, -170.7131481)"
1207,Andorra,AND,2015,3.143566,4.713564,77993.0,Europe,"(42.5407167, 1.5732033)"
...,...,...,...,...,...,...,...,...
54494,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America,"(8.0018709, -66.1109318)"
54753,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia,"(15.9266657, 107.9650855)"
55638,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia,"(16.3471243, 47.8915271)"
55900,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa,"(-14.5189121, 27.5589884)"
56160,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa,"(-18.4554963, 29.7468414)"

In [26]:
discard_indexes = df_depression_m_vs_f[df_depression_m_vs_f["lat_lon"].isnull()].index
df_depression_m_vs_f = df_depression_m_vs_f.drop(discard_indexes)

In [27]:
df_depression_m_vs_f

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon
26,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia,"(33.7680065, 66.2385139)"
575,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe,"(41.000028, 19.9999619)"
834,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa,"(28.0000272, 2.9999825)"
1093,American Samoa,ASM,2015,2.317518,3.199010,55806.0,Oceania,"(-14.297124, -170.7131481)"
1207,Andorra,AND,2015,3.143566,4.713564,77993.0,Europe,"(42.5407167, 1.5732033)"
...,...,...,...,...,...,...,...,...
54494,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America,"(8.0018709, -66.1109318)"
54753,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia,"(15.9266657, 107.9650855)"
55638,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia,"(16.3471243, 47.8915271)"
55900,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa,"(-14.5189121, 27.5589884)"
56160,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa,"(-18.4554963, 29.7468414)"

In [28]:
df_depression_m_vs_f["latitude"] = df_depression_m_vs_f["lat_lon"].map(lambda x: x[0])
df_depression_m_vs_f["longitude"] = df_depression_m_vs_f["lat_lon"].map(lambda x: x[1])

In [29]:
df_depression_m_vs_f

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon,latitude,longitude
26,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia,"(33.7680065, 66.2385139)",33.768006,66.238514
575,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe,"(41.000028, 19.9999619)",41.000028,19.999962
834,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa,"(28.0000272, 2.9999825)",28.000027,2.999983
1093,American Samoa,ASM,2015,2.317518,3.199010,55806.0,Oceania,"(-14.297124, -170.7131481)",-14.297124,-170.713148
1207,Andorra,AND,2015,3.143566,4.713564,77993.0,Europe,"(42.5407167, 1.5732033)",42.540717,1.573203
...,...,...,...,...,...,...,...,...,...,...
54494,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America,"(8.0018709, -66.1109318)",8.001871,-66.110932
54753,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia,"(15.9266657, 107.9650855)",15.926666,107.965086
55638,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia,"(16.3471243, 47.8915271)",16.347124,47.891527
55900,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa,"(-14.5189121, 27.5589884)",-14.518912,27.558988
56160,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa,"(-18.4554963, 29.7468414)",-18.455496,29.746841

In [30]:
df_depression_m_vs_f = df_depression_m_vs_f.drop('lat_lon', axis=1)
df_depression_m_vs_f

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,latitude,longitude
26,Afghanistan,AFG,2015,4.384594,5.837310,34413603.0,Asia,33.768006,66.238514
575,Albania,ALB,2015,1.768626,3.410732,2890524.0,Europe,41.000028,19.999962
834,Algeria,DZA,2015,3.443441,5.172573,39728020.0,Africa,28.000027,2.999983
1093,American Samoa,ASM,2015,2.317518,3.199010,55806.0,Oceania,-14.297124,-170.713148
1207,Andorra,AND,2015,3.143566,4.713564,77993.0,Europe,42.540717,1.573203
...,...,...,...,...,...,...,...,...,...
54494,Venezuela,VEN,2015,2.798923,3.849009,30081827.0,South America,8.001871,-66.110932
54753,Vietnam,VNM,2015,1.949282,3.137088,92677082.0,Asia,15.926666,107.965086
55638,Yemen,YEM,2015,3.993781,6.056418,26497881.0,Asia,16.347124,47.891527
55900,Zambia,ZMB,2015,3.658321,4.848113,15879370.0,Africa,-14.518912,27.558988
56160,Zimbabwe,ZWE,2015,3.090039,3.927306,13814642.0,Africa,-18.455496,29.746841

In [31]:
df_depression_m_vs_f.to_csv('Clean_data/cleaned-prevalence-of-depression-males-vs-females.csv', index=False)

# 5th csv file

In [32]:
df_share_mental_substance_by_sex = pd.read_csv("Resources/share-with-mental-or-substance-disorders-by-sex.csv")

In [33]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,1990,17.448695,17.634233,12412311.0,NaN
2,Afghanistan,AFG,1991,17.771263,17.873184,13299016.0,NaN
3,Afghanistan,AFG,1992,18.051575,18.092318,14485543.0,NaN
4,Afghanistan,AFG,1993,18.275848,18.265196,15816601.0,NaN
...,...,...,...,...,...,...,...
56624,Zimbabwe,ZWE,2018,NaN,NaN,14438812.0,NaN
56625,Zimbabwe,ZWE,2019,NaN,NaN,14645473.0,NaN
56626,Zimbabwe,ZWE,2020,NaN,NaN,14862927.0,NaN
56627,Zimbabwe,ZWE,2021,NaN,NaN,15092171.0,NaN
56628,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [34]:
df_share_mental_substance_by_sex = df_share_mental_substance_by_sex.dropna()
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe
...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa

In [35]:
df_share_mental_substance_by_sex["lat_lon"] = df_share_mental_substance_by_sex["Entity"].map(countries_lat_lon)

C:\Users\prern\AppData\Local\Temp\ipykernel_23116\3804205782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_share_mental_substance_by_sex["lat_lon"] = df_share_mental_substance_by_sex["Entity"].map(countries_lat_lon)

In [36]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,"(33.7680065, 66.2385139)"
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,"(41.000028, 19.9999619)"
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,"(28.0000272, 2.9999825)"
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,"(-14.297124, -170.7131481)"
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,"(42.5407167, 1.5732033)"
...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,"(8.0018709, -66.1109318)"
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,"(15.9266657, 107.9650855)"
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,"(16.3471243, 47.8915271)"
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,"(-14.5189121, 27.5589884)"
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,"(-18.4554963, 29.7468414)"

In [37]:
discard_indexes = df_share_mental_substance_by_sex[df_share_mental_substance_by_sex["lat_lon"].isnull()].index
df_share_mental_substance_by_sex = df_share_mental_substance_by_sex.drop(discard_indexes)

In [38]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,"(33.7680065, 66.2385139)"
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,"(41.000028, 19.9999619)"
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,"(28.0000272, 2.9999825)"
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,"(-14.297124, -170.7131481)"
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,"(42.5407167, 1.5732033)"
...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,"(8.0018709, -66.1109318)"
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,"(15.9266657, 107.9650855)"
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,"(16.3471243, 47.8915271)"
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,"(-14.5189121, 27.5589884)"
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,"(-18.4554963, 29.7468414)"

In [39]:
df_share_mental_substance_by_sex["latitude"] = df_share_mental_substance_by_sex["lat_lon"].map(lambda x: x[0])
df_share_mental_substance_by_sex["longitude"] = df_share_mental_substance_by_sex["lat_lon"].map(lambda x: x[1])

In [40]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,lat_lon,latitude,longitude
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,"(33.7680065, 66.2385139)",33.768006,66.238514
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,"(41.000028, 19.9999619)",41.000028,19.999962
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,"(28.0000272, 2.9999825)",28.000027,2.999983
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,"(-14.297124, -170.7131481)",-14.297124,-170.713148
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,"(42.5407167, 1.5732033)",42.540717,1.573203
...,...,...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,"(8.0018709, -66.1109318)",8.001871,-66.110932
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,"(15.9266657, 107.9650855)",15.926666,107.965086
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,"(16.3471243, 47.8915271)",16.347124,47.891527
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,"(-14.5189121, 27.5589884)",-14.518912,27.558988
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,"(-18.4554963, 29.7468414)",-18.455496,29.746841

In [41]:
df_share_mental_substance_by_sex = df_share_mental_substance_by_sex.drop('lat_lon', axis=1)
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,latitude,longitude
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,33.768006,66.238514
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,41.000028,19.999962
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,28.000027,2.999983
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,-14.297124,-170.713148
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,42.540717,1.573203
...,...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,8.001871,-66.110932
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,15.926666,107.965086
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,16.347124,47.891527
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,-14.518912,27.558988
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,-18.455496,29.746841

In [42]:
df_share_mental_substance_by_sex['Number of women with mental and substance use disorder']=(df_share_mental_substance_by_sex['Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)']*df_share_mental_substance_by_sex['Population (historical estimates)'])/100

In [43]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,latitude,longitude,Number of women with mental and substance use disorder
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,33.768006,66.238514,5.864502e+06
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,41.000028,19.999962,3.196627e+05
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,28.000027,2.999983,5.953962e+06
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,-14.297124,-170.713148,6.142726e+03
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,42.540717,1.573203,1.236261e+04
...,...,...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,8.001871,-66.110932,3.309849e+06
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,15.926666,107.965086,9.625256e+06
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,16.347124,47.891527,4.305250e+06
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,-14.518912,27.558988,1.976897e+06
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,-18.455496,29.746841,1.479457e+06

In [44]:
df_share_mental_substance_by_sex.dtypes

Entity                                                                                              object
Code                                                                                                object
Year                                                                                                 int64
Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)      float64
Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent)    float64
Population (historical estimates)                                                                  float64
Continent                                                                                           object
latitude                                                                                           float64
longitude                                                                                          float64
Number of women with mental and substance use disorder                                             float64
dtype: object

In [45]:
df_share_mental_substance_by_sex['Number of men with mental and substance use disorder']=(df_share_mental_substance_by_sex['Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent)']*df_share_mental_substance_by_sex['Population (historical estimates)'])/100

In [46]:
df_share_mental_substance_by_sex

,Entity,Code,Year,Prevalence - Mental and substance use disorders - Sex: Male - Age: Age-standardized (Percent),Prevalence - Mental and substance use disorders - Sex: Female - Age: Age-standardized (Percent),Population (historical estimates),Continent,latitude,longitude,Number of women with mental and substance use disorder,Number of men with mental and substance use disorder
26,Afghanistan,AFG,2015,16.753068,17.041232,34413603.0,Asia,33.768006,66.238514,5.864502e+06,5.765334e+06
545,Albania,ALB,2015,10.648345,11.058989,2890524.0,Europe,41.000028,19.999962,3.196627e+05,3.077930e+05
804,Algeria,DZA,2015,14.040733,14.986809,39728020.0,Africa,28.000027,2.999983,5.953962e+06,5.578105e+06
1063,American Samoa,ASM,2015,10.692175,11.007287,55806.0,Oceania,-14.297124,-170.713148,6.142726e+03,5.966875e+03
1205,Andorra,AND,2015,13.604457,15.850925,77993.0,Europe,42.540717,1.573203,1.236261e+04,1.061052e+04
...,...,...,...,...,...,...,...,...,...,...,...
54824,Venezuela,VEN,2015,11.186214,11.002820,30081827.0,South America,8.001871,-66.110932,3.309849e+06,3.365018e+06
55083,Vietnam,VNM,2015,8.966948,10.385800,92677082.0,Asia,15.926666,107.965086,9.625256e+06,8.310306e+06
55872,Yemen,YEM,2015,15.410116,16.247524,26497881.0,Asia,16.347124,47.891527,4.305250e+06,4.083354e+06
56134,Zambia,ZMB,2015,11.994085,12.449468,15879370.0,Africa,-14.518912,27.558988,1.976897e+06,1.904585e+06
56394,Zimbabwe,ZWE,2015,12.529954,10.709341,13814642.0,Africa,-18.455496,29.746841,1.479457e+06,1.730968e+06

In [47]:
df_share_mental_substance_by_sex.to_csv('Clean_data/cleaned-share-with-mental-or-substance-disorders-by-sex.csv', index=False)

# 4th csv file

In [48]:
df_share_mental_substance = pd.read_csv("Resources/share-with-mental-and-substance-disorders.csv")

In [49]:
df_share_mental_substance

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,16.659229
1,Afghanistan,AFG,1991,16.765052
2,Afghanistan,AFG,1992,16.874469
3,Afghanistan,AFG,1993,16.990720
4,Afghanistan,AFG,1994,17.112730
...,...,...,...,...
6775,Zimbabwe,ZWE,2015,11.156429
6776,Zimbabwe,ZWE,2016,11.164133
6777,Zimbabwe,ZWE,2017,11.170427
6778,Zimbabwe,ZWE,2018,11.158765
6779,Zimbabwe,ZWE,2019,11.119021

In [50]:
df_share_mental_substance = df_share_mental_substance.dropna()
df_share_mental_substance

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,16.659229
1,Afghanistan,AFG,1991,16.765052
2,Afghanistan,AFG,1992,16.874469
3,Afghanistan,AFG,1993,16.990720
4,Afghanistan,AFG,1994,17.112730
...,...,...,...,...
6775,Zimbabwe,ZWE,2015,11.156429
6776,Zimbabwe,ZWE,2016,11.164133
6777,Zimbabwe,ZWE,2017,11.170427
6778,Zimbabwe,ZWE,2018,11.158765
6779,Zimbabwe,ZWE,2019,11.119021

In [51]:
df_share_mental_substance["lat_lon"] = df_share_mental_substance["Entity"].map(countries_lat_lon)

C:\Users\prern\AppData\Local\Temp\ipykernel_23116\2261175915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_share_mental_substance["lat_lon"] = df_share_mental_substance["Entity"].map(countries_lat_lon)

In [52]:
df_share_mental_substance

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon
0,Afghanistan,AFG,1990,16.659229,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,16.765052,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,16.874469,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,16.990720,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,17.112730,"(33.7680065, 66.2385139)"
...,...,...,...,...,...
6775,Zimbabwe,ZWE,2015,11.156429,"(-18.4554963, 29.7468414)"
6776,Zimbabwe,ZWE,2016,11.164133,"(-18.4554963, 29.7468414)"
6777,Zimbabwe,ZWE,2017,11.170427,"(-18.4554963, 29.7468414)"
6778,Zimbabwe,ZWE,2018,11.158765,"(-18.4554963, 29.7468414)"
6779,Zimbabwe,ZWE,2019,11.119021,"(-18.4554963, 29.7468414)"

In [53]:
discard_indexes = df_share_mental_substance[df_share_mental_substance["lat_lon"].isnull()].index
df_share_mental_substance = df_share_mental_substance.drop(discard_indexes)

In [54]:
df_share_mental_substance

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon
0,Afghanistan,AFG,1990,16.659229,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,16.765052,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,16.874469,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,16.990720,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,17.112730,"(33.7680065, 66.2385139)"
...,...,...,...,...,...
6775,Zimbabwe,ZWE,2015,11.156429,"(-18.4554963, 29.7468414)"
6776,Zimbabwe,ZWE,2016,11.164133,"(-18.4554963, 29.7468414)"
6777,Zimbabwe,ZWE,2017,11.170427,"(-18.4554963, 29.7468414)"
6778,Zimbabwe,ZWE,2018,11.158765,"(-18.4554963, 29.7468414)"
6779,Zimbabwe,ZWE,2019,11.119021,"(-18.4554963, 29.7468414)"

In [55]:
df_share_mental_substance["latitude"] = df_share_mental_substance["lat_lon"].map(lambda x: x[0])
df_share_mental_substance["longitude"] = df_share_mental_substance["lat_lon"].map(lambda x: x[1])

In [56]:
df_share_mental_substance.head()

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon,latitude,longitude
0,Afghanistan,AFG,1990,16.659229,"(33.7680065, 66.2385139)",33.768006,66.238514
1,Afghanistan,AFG,1991,16.765052,"(33.7680065, 66.2385139)",33.768006,66.238514
2,Afghanistan,AFG,1992,16.874469,"(33.7680065, 66.2385139)",33.768006,66.238514
3,Afghanistan,AFG,1993,16.990720,"(33.7680065, 66.2385139)",33.768006,66.238514
4,Afghanistan,AFG,1994,17.112730,"(33.7680065, 66.2385139)",33.768006,66.238514

In [57]:
df_share_mental_substance = df_share_mental_substance.drop('lat_lon', axis=1)
df_share_mental_substance

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),latitude,longitude
0,Afghanistan,AFG,1990,16.659229,33.768006,66.238514
1,Afghanistan,AFG,1991,16.765052,33.768006,66.238514
2,Afghanistan,AFG,1992,16.874469,33.768006,66.238514
3,Afghanistan,AFG,1993,16.990720,33.768006,66.238514
4,Afghanistan,AFG,1994,17.112730,33.768006,66.238514
...,...,...,...,...,...,...
6775,Zimbabwe,ZWE,2015,11.156429,-18.455496,29.746841
6776,Zimbabwe,ZWE,2016,11.164133,-18.455496,29.746841
6777,Zimbabwe,ZWE,2017,11.170427,-18.455496,29.746841
6778,Zimbabwe,ZWE,2018,11.158765,-18.455496,29.746841
6779,Zimbabwe,ZWE,2019,11.119021,-18.455496,29.746841

In [58]:
df_share_mental_substance.head()

,Entity,Code,Year,Prevalence - Mental disorders - Sex: Both - Age: Age-standardized (Percent),latitude,longitude
0,Afghanistan,AFG,1990,16.659229,33.768006,66.238514
1,Afghanistan,AFG,1991,16.765052,33.768006,66.238514
2,Afghanistan,AFG,1992,16.874469,33.768006,66.238514
3,Afghanistan,AFG,1993,16.990720,33.768006,66.238514
4,Afghanistan,AFG,1994,17.112730,33.768006,66.238514

In [59]:
df_share_mental_substance.to_csv('Clean_data/cleaned-share-with-mental-and-substance-disorders.csv', index=False)

# 2nd CSV file

In [60]:
df_diffdisorders = df_mh_subst_use = pd.read_csv("Resources/prevalence-by-mental-and-substance-use-disorder.csv")

In [61]:
df_diffdisorders.head(2)

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250

In [62]:
df_diffdisorders.dropna()

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779
...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969
6836,Zimbabwe,ZWE,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281
6837,Zimbabwe,ZWE,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805
6838,Zimbabwe,ZWE,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711
6839,Zimbabwe,ZWE,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729

In [63]:
df_diffdisorders["lat_lon"] = df_diffdisorders["Entity"].map(countries_lat_lon)

In [64]:
df_diffdisorders

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,"(33.7680065, 66.2385139)"
...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969,"(-18.4554963, 29.7468414)"
6836,Zimbabwe,ZWE,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281,"(-18.4554963, 29.7468414)"
6837,Zimbabwe,ZWE,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805,"(-18.4554963, 29.7468414)"
6838,Zimbabwe,ZWE,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711,"(-18.4554963, 29.7468414)"
6839,Zimbabwe,ZWE,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729,"(-18.4554963, 29.7468414)"

In [65]:
discard_indexes = df_diffdisorders[df_diffdisorders["lat_lon"].isnull()].index
df_diffdisorders = df_diffdisorders.drop(discard_indexes)

In [66]:
df_diffdisorders

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,"(33.7680065, 66.2385139)"
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,"(33.7680065, 66.2385139)"
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,"(33.7680065, 66.2385139)"
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,"(33.7680065, 66.2385139)"
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,"(33.7680065, 66.2385139)"
...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969,"(-18.4554963, 29.7468414)"
6836,Zimbabwe,ZWE,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281,"(-18.4554963, 29.7468414)"
6837,Zimbabwe,ZWE,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805,"(-18.4554963, 29.7468414)"
6838,Zimbabwe,ZWE,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711,"(-18.4554963, 29.7468414)"
6839,Zimbabwe,ZWE,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729,"(-18.4554963, 29.7468414)"

In [67]:
df_diffdisorders["latitude"] = df_diffdisorders["lat_lon"].map(lambda x: x[0])
df_diffdisorders["longitude"] = df_diffdisorders["lat_lon"].map(lambda x: x[1])

In [68]:
df_diffdisorders

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),lat_lon,latitude,longitude
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,"(33.7680065, 66.2385139)",33.768006,66.238514
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,"(33.7680065, 66.2385139)",33.768006,66.238514
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,"(33.7680065, 66.2385139)",33.768006,66.238514
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,"(33.7680065, 66.2385139)",33.768006,66.238514
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,"(33.7680065, 66.2385139)",33.768006,66.238514
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6836,Zimbabwe,ZWE,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6837,Zimbabwe,ZWE,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6838,Zimbabwe,ZWE,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711,"(-18.4554963, 29.7468414)",-18.455496,29.746841
6839,Zimbabwe,ZWE,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729,"(-18.4554963, 29.7468414)",-18.455496,29.746841

In [69]:
df_diffdisorders = df_diffdisorders.drop('lat_lon', axis=1)

In [70]:
df_diffdisorders

,Entity,Code,Year,Prevalence - Schizophrenia - Sex: Both - Age: Age-standardized (Percent),Prevalence - Bipolar disorder - Sex: Both - Age: Age-standardized (Percent),Prevalence - Eating disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Anxiety disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Drug use disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent),Prevalence - Alcohol use disorders - Sex: Both - Age: Age-standardized (Percent),latitude,longitude
0,Afghanistan,AFG,1990,0.228979,0.721207,0.131001,4.835127,0.454202,5.125291,0.444036,33.768006,66.238514
1,Afghanistan,AFG,1991,0.228120,0.719952,0.126395,4.821765,0.447112,5.116306,0.444250,33.768006,66.238514
2,Afghanistan,AFG,1992,0.227328,0.718418,0.121832,4.801434,0.441190,5.106558,0.445501,33.768006,66.238514
3,Afghanistan,AFG,1993,0.226468,0.717452,0.117942,4.789363,0.435581,5.100328,0.445958,33.768006,66.238514
4,Afghanistan,AFG,1994,0.225567,0.717012,0.114547,4.784923,0.431822,5.099424,0.445779,33.768006,66.238514
...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,0.209359,0.560882,0.099610,3.315701,0.599604,3.548613,1.734969,-18.455496,29.746841
6836,Zimbabwe,ZWE,2016,0.209979,0.561768,0.100821,3.324230,0.603658,3.557508,1.689281,-18.455496,29.746841
6837,Zimbabwe,ZWE,2017,0.210631,0.562612,0.101671,3.330569,0.608096,3.564138,1.651805,-18.455496,29.746841
6838,Zimbabwe,ZWE,2018,0.211237,0.563283,0.102398,3.317500,0.609065,3.563141,1.686711,-18.455496,29.746841
6839,Zimbabwe,ZWE,2019,0.211969,0.563820,0.102902,3.283934,0.610644,3.554571,1.776729,-18.455496,29.746841

In [72]:
df_diffdisorders.to_csv('Clean_data/df_diffdisorders.csv', index=False)